{% extends 'RBCoreBundle:Editor:menu/default.html.twig'  %}
{% block editorForce -%}
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="CMMode">{{ext}}</span></a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item btn-cb" data-cb="setCMMode" data-mode="css">css</a>
                <a href="#" class="dropdown-item btn-cb" data-cb="setCMMode" data-mode="html">html</a>
                <a href="#" class="dropdown-item btn-cb" data-cb="setCMMode" data-mode="js">js</a>
                <a href="#" class="dropdown-item btn-cb" data-cb="setCMMode" data-mode="less">less</a>
                <a href="#" class="dropdown-item btn-cb" data-cb="setCMMode" data-mode="php">php</a>
            </div>
    </li>
    <form action="{{path('editor_save',{ext:ext}) }}" class="form-inline pull-right">
        <div class="input-group">
              <input type="text" class="form-control" name="name">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-floppy-o"></i></button>
              </span>
            </div>
    </form>
{% endblock %}