    <a href="{{path(entitySuffix~'_show',{ id : id }) }}" class="btn btn-sm btn-secondary btn-modal" title="{{"route."~entitySuffix~'_show.title'|trans}}" data-modal="modalLg"><i class="fa fa-eye"></i></a>
    <a href="{{path(entitySuffix~'_edit',{ id : id }) }}" class="btn btn-sm btn-secondary btn-modal" title="{{"route."~entitySuffix~'_edit.title'|trans}}" data-modal="modalLg"><i class="fa fa-pencil"></i></a>
