    <a href="{{path(entitySuffix~'_show',{ id : id }) }}" class="btn btn-sm btn-secondary-outline"><i class="fa fa-eye"></i></a>
    <a href="{{path(entitySuffix~'_edit',{ id : id }) }}" class="btn btn-sm btn-secondary-outline"><i class="fa fa-pencil"></i></a>
