<div id="alert-{{ id }}" class="btn-group">
    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#" class="nav-link">
    <i class="fa fa-bell"></i> {{ counter_me('alert') }}
    </a>
    <div class="dropdown-menu">
       {% for alert in alerts %}
        <div class="dropdown-item alert-{{ alert.content }}">
            {{ alert.content }}
        </div>
       {% endfor %} 
    </div>
</div>