<div id="alert-{{ id }}" class="btn-group alert-me">
    <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#" class="nav-link btn-reload-alert" data-id='{{id}}'>
        <i class="fa fa-bell"></i> {{ counter_me('alert') }}
    </a>
    <div class="dropdown-menu dropdown-alert-me">
    	{{ dump(alerts) }}
      {% include 'RBCoreBundle:Alert:reload.html.twig' with {
        alerts: alerts,
        id:id
  } only %}
    </div>
</div>