<div id="context-n-bottom" class="context-n"><a href="#" class="btn-close-context btn btn-lg pull-right"><i class="fa fa-remove"></i></a><div class="content"><h1>bottom</h1></div></div>
<div id="context-n-iframe" class="context-n"><a href="#" class="btn-close-context btn btn-lg pull-right"><i class="fa fa-remove"></i></a><iframe src="#" id="iframe" class="iframe"></iframe></div>
<div id="context-n-sidebar" class="context-n"><a href="#" class="btn-close-context btn btn-lg pull-right"><i class="fa fa-remove"></i></a><div class="content"><h1>Sidebar</h1></div></div>