<div id="context_nav" class="btn-group p-c-t m-c-t">
    {% set sessionUi = app.session.get('ui') %}
    {% set keyContext %}{% spaceless %}
    {% endspaceless %}{% endset %}
    <button  id="rb-key-context" class="btn  " data-toggle="popover" data-trigger="hover click" data-html="true" data-placement="bottom" data-content="{{keyContext}}" data-container="body"><i class="fa fa-keyboard-o "></i></button>
    {# {% if is_granted('ROLE_USER') %}
     <div data-toggle="buttons" class="btn-group "><label class="btn  disabled"><input type="checkbox" autocomplete="off" id="log_show"> <i class="fa fa-exclamation-triangle  "></i></label></div>{% endif %}#}
    <div class="btn-group">
        {{ context_me_checkbox() }}
        {{ context_me_checkbox('A','true','<i class="fa fa-wheelchair"></i>') }}
        {# {{ context_me_select('C',{'default':'default','dark':'dark','ligth':'ligth','night':'night'}) }} #}
    </div>
</div>