<div class="nav-menu">
    <div class='navbar navbar-back nav bg-faded no-radius no-marg'>
        <a class=" nav-back btn btn-default" href="{{ path(entitySuffix~'_index') }}"><i class="fa fa-long-arrow-left "></i> </a>
        <!-- BEGIN DROPDOWN HOVER  -->
        <div class="btn-group pull-right">
            <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#" class="btn btn-sm">
            <i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu pull-right">
                <div class="dropdown-item">
                    {# {{ form(delete_form,{attr:{"data-msg":"Souhaitez vous supprimer ce produit ?"}})}} #}
                </div>
            </div>
        </div>
        <!-- END DROPDOWN HOVER  -->
    </div>
</div>