<form id="core-form" action="{{path('input_me') }}" class="form-live" data-cb="setAction">
    <input type="text" name="action" class="form-control input-me"  placeholder="Recherche et action" >
</form>