<div class='navbar navbar-back nav no-radius no-marg'>
    <a class=" nav-back btn c-5" href="{{path(prefix~'_index') }}"><i class="fa fa-long-arrow-left "></i> </a>
    <!-- BEGIN DROPDOWN HOVER  -->

    {% if delete_form %}
    <div class="btn-group pull-right">
        <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#" class="btn btn-sm c-5">
        <i class="fa fa-cog"></i> <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu pull-right">
            <div class="dropdown-item">
                {{ form(delete_form,{attr:{"data-msg":"Souhaitez vous supprimer ce produit ?"}})}}
            </div>
        </div>
    </div>
    <!-- END DROPDOWN HOVER  -->
    {% endif %}
</div>