{% extends "::base.html.twig" %}

{% block body %}
<form action="{{path('alert_add') }}" class="form-live" data-cb="alertReload">
    <input type="hidden" name="type" value="note">
    <textarea id="alert-content" class="form-control m-c-b" name="content" rows="3"></textarea>
    <input id="alert-expir" type="text" class="form-control" name="expir">
   <div class="form-footer"><button class="btn btn-success btn-block">{{"action.note"|trans}}</button></div>
</form>
{% endblock %}
